- content_for :page_title, "Listing biographies"
- content_for :javascript, javascript_include_tag('dragdrop', :cache => false, :plugin => 'natto')
#biographies_index
  %b
    %u Name and title
  %ul#biographies_tree
    = render :partial => "biographies/admin_node", :collection => @objects
  - effect = visual_effect(:pulsate, 'biographies_tree', {:duration => 0.4, :from => 0.4, :pulses => 1})
  - link = "function(){" + remote_function(:update => "biographies_index", :complete => effect, :url => {:controller => 'biographies', :action => 'update_positions'}, :with => 'Sortable.serialize("biographies_tree")') + "}"
  :javascript
    Sortable.create("biographies_tree", {tree:true, constraint:false, scroll:window, onUpdate:#{link}});
