- content_for :page_title, "Forgot your password?"
- form_tag :action => 'prepare_password_reset' do
  = error_messages_for 'user'
  %fieldset
    %legend Password Reset
    %div
      %label{:for => "email"} Your registered email
      = text_field_tag :email
    %div
      = submit_tag "Send Reset Code"
