<% content_for :page_title, "Forgot your password?" -%>
<% form_tag :action => 'prepare_password_reset' do %>
  <%= error_messages_for 'user' %>
  
  <!--[form:page]-->
  <fieldset>
    <legend>Password Reset</legend>
    
    <div>
      <label for="email">Your registered email</label>
      <%= text_field_tag :email %>
    </div>
  </fieldset>
  <!--[eoform:page]-->
  <%= submit_tag "Send Reset Code" %>
<% end %>
