<% unless @chart_url.blank? -%>
  <div class="change_activity_graph">
    <h4>Change log activity</h4>
    <%= image_tag(@chart_url) %><br/>
    <div class="float_left">Today &rarr;</div>
    <div class="float_right">1 year ago</div>
  </div>
  <div class="clear"></div>
<% end -%>