  <fieldset>
    <legend><%= params[:controller].singularize.capitalize %> Information</legend>
    
    <p class="required_example">Fields which appear <span class="required">like this</span> are required.</p>