= '<div id="notice">'  + flash[:notice]  + '</div>' unless flash[:notice].blank?
= '<div id="warning">' + flash[:warning] + '</div>' unless flash[:warning].blank?
= '<div id="error">'   + flash[:error]   + '</div>' unless flash[:error].blank?
%p.clear &nbsp;
