- content_for :page_title, "Listing contact categories"
- content_for :javascript, javascript_include_tag('dragdrop', :cache => false, :plugin => 'natto')
#contact_categories_index
  %b
    %u Title and email
  %ul#contact_categories_tree
    = render :partial => "contact_categories/admin_node", :collection => @objects
  - effect = visual_effect(:pulsate, 'contact_categories_tree', {:duration => 0.4, :from => 0.4, :pulses => 1})
  - link = "function(){" + remote_function(:update => "contact_categories_index", :complete => effect, :url => {:controller => 'contact_categories', :action => 'update_positions'}, :with => 'Sortable.serialize("contact_categories_tree")') + "}"
  :javascript
    Sortable.create("contact_categories_tree", {tree:true, constraint:false, scroll:window, onUpdate:#{link}});
