.sitemap_node{:class => cycle('even', 'odd')}
  = link_page(sitemap_node)
  = render :partial => 'pages/sitemap_node', :collection => sitemap_node.children.reject {|page| page.page_type.eql?(Page::NO_NAV)}
