- # render all projects for the portfolio
- if logged_in? && current_user.is_administrator?
  .toolbar= link_to(sort_icon('Organize your projects'), project_positions_path)
  .clear
#portfolio_projects
  - @objects.each do |project|
    - types = []
    %a{:href => project_url(project)}
      .portfolio_project
        %h4= project.client
        - unless project.title.blank?
          %p
            %em= project.title
.clear
