<% content_for :page_title, "Under construction" -%>
<div class="dialog">
  <h2>Sorry, but we're not quite ready yet.</h2>
  <p>This is a temporary page, while we get our site prepared.  Please check back soon!</p>
</div>
