- old_posts = get_posts_hash(@object)
- unless old_posts.nil? || old_posts.empty?
  #archived_posts
    %h4 Blog archive
    %ul.years
      - old_posts.sort.reverse.each do |year,months| # draw links to old posts
        %li.year
          .year{:class => " #{@current_year.eql?(year) ? 'open' : 'closed'}"}= year
          %ul.months
            - months.each do |month,posts|
              %li.month
                .month{:class => " #{@current_month.eql?(month) ? 'open' : 'closed'}"}= month
                %ul.archived_posts
                  - posts.each do |post|
                    %li.archived_post= link_to post.title, post
